<%= render 'layouts/navbar' %>
<body class="bg-dark">
<div class = "jumbotron d-flex align-items-center min-vh-100 bg-dark">
    <div class = "container-fluid p-3 my-4 text-white trans-2">
      <h1 class = "is-size-2 has-text-weight-bold mb-4"><%= current_user.name %>'s Dashboard</h1>
      <% if (current_user.role_id === 2) %>
        <%= render 'stocks/search' %> 
         <%= render 'layouts/messages' %>
      <div class = "content">
        <div id="results">
        </div>
        </br>
        <%= render 'users/tracked' %>
      <% end %>
      </div>
  </div>
  <div class = "container p-3 my-4 text-white trans-2">
    <h2>Top 10 Hottest Stocks Right Now </h2>
    <%= render 'users/hottest' %>
</div>
</body>
