<div class="jumbotron d-flex align-items-center min-vh-100 bg-dark">
<%= render 'layouts/navbar' %>
  <div class = "container-fluid p-3 my-4 text-white trans-2">
    <h1 class = "is-size-2 has-text-weight-bold mb-4">Stocks Available</h1>
         <%= render 'layouts/messages' %>
      <div class = "content">
       <div class = "table-responsive-sm">
        <%= render 'users/stockavailable' %>
       </div>
      </div>
  </div> 
   <div class = "container-fluid p-3 my-4 text-white">
     <h1 class = "is-size-2 has-text-weight-bold mb-4"><%= current_user.name %>'s Dashboard</h1>
      <div class="table-responsive-sm">
        <%= render 'users/available' %>
      </div>
   </div> 

   <%= render 'users/account' %>
</div>
